body{
    background-color: black;
}
a{
    color: white;
    font-size: large;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:Arial, Helvetica, sans-serif;
}
a:hover{
    color: grey;
}